# https://github.com/macrozheng/mall/blob/8f57a363c5f05844c3838f65bd7bc30bdcb4e470/document/docker/docker-compose-env.yml
version: '3'
services:
    nginx:
        image: nginx
        container_name: nginx
        ports:
            - 80:80
        environment:
            TZ: Asia/Shanghai
        volumes:
            - $PWD/conf/nginx/nginx.conf:/etc/nginx/nginx.conf #配置文件挂载
            - $PWD/conf/nginx/conf.d:/etc/nginx/conf.d
            - $PWD/data/nginx/html:/usr/share/nginx/html #静态资源根目录挂载
            - $PWD/log/nginx:/var/log/nginx #日志文件挂载
        restart: always
    mariadb:
        image: mariadb
        container_name: mariadb
        ports:
            - 3306:3306
        command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        environment:
            MYSQL_ROOT_PASSWORD: 123456 #设置root帐号密码
        volumes:
            - $PWD/conf/mysql/conf.d:/etc/mysql/conf.d #配置文件挂载
            - $PWD/data/mysql:/var/lib/mysql #数据文件挂载
            - $PWD/log/mysql:/var/log/mysql #日志文件挂载
        restart: always
    redis:
        image: redis
        container_name: redis-server
        ports:
            - 6379:6379
        command: redis-server /usr/local/etc/redis/redis.conf --appendonly yes
        volumes:
            - $PWD/conf/redis/redis.conf:/usr/local/etc/redis/redis.conf
            - $PWD/data/redis:/data #数据文件挂载
        restart: always
